extends base

block slogan
  div#slogan.contact-us

block content
  #intro-wrapper
    #introduction.contact
      img(src="/img/map.jpg", alt="#{$i18n.contact.title}")
      span #{$i18n.contact.address}
      p #{$i18n.contact.tel_fax}

block scripts
  script(src="/js/mousewheel.js")
  script(src="/js/setScrollbar.js")
  script.
    $(document).ready(function(){
        //  Initialize Backgound Stretcher
        $('BODY').bgStretcher({
            images: ['/img/bg3.jpg', '/img/bg2.jpg', '/img/bg1.jpg'], 
            imageWidth: 1680, 
            imageHeight: 1050,
            preloadImg: true,
            transitionEffect: 'fade',
            slideShowSpeed: 2000,
            nextSlideDelay: 40000
        });
        $('#intro-wrapper').css("height",$(document).height()-300);
        var intro = $("#introduction");
        var wrapper = $("#intro-wrapper");
        setScrollBar(intro,wrapper);
    });